
.k-search
  position absolute
  top 20px
  right 0
  
  #tagsdb.show
    display block
  
  #tagsdb
    position absolute
    z-index 99
    width 200px
    max-height 300px
    margin 0
    padding 0
    overflow auto
    display none
    list-style-type none
    background #fcfcfc
    line-height 24px
    font-size 13px
    font-family 'Lato', Helvetica, Arial
    border solid 1px #ccc
    border-radius 5px
    box-shadow 1px 1px 3px rgba(0,0,0,0.3)

    li.selected
      background #d5e5f5

    li
      border-bottom solid 1px #f4f4f4
      padding 2px 5px
      cursor pointer

  input[type=search]
    opacity 0.6
    width 100px
    transition 0.3s all

  input[type=search]:focus
    opacity 1
    width 200px

@keyframes popup
  0%
    transform scale(0)
    opacity 0
  100%
    transform scale(1)
    opacity 1

@keyframes appear
  0%
    opacity 0
  100%
    opacity 1
