<index: element="k-search">
	<div class="k-search">
		<form class="pure-form pure-form-search" on-submit="submit($event)" method="get" action="/{{search}}">
			<input on-focus="focus($event)" on-blur="blur($event)" on-keydown="keydown($event)" class="pure-input-rounded" type="search" name="nimikirja-search" results as="input" value="{{search}}">
			{{if search}}
				{{if people.length}}
				<ul id="tagsdb" class="{{show}}">
					{{each people as #p, #i}}<li id="id-{{#i}}" class="{{if position == #i}}selected{{/}}" on-mousedown="sel($event, #p)">{{#p}}</li>{{/}}
				</ul>
				{{/}}
			{{/}}
		</form>
	</div>
